body{
	font-family:arial;
}

table{
	border-collapse: collapse;
	background-color: white;
	empty-cells: hide;
	table-layout: auto;
}

th{
	padding-bottom: 10px;
	padding-top: 10px;
	background-color:rgb(136, 137, 139);
	color: white;
	empty-cells: hide;
	border-collapse: collapse;
	border-bottom: 1px solid #ddd;
}

/* to highlight row of the table when a the pointer is hovered over */
tr:hover{
	background-color: #f5f5f5;
}

td{
	text-align: center;
	border-bottom: 1px solid #ddd;
	padding-bottom: 5px;
	padding-top: 5px;
}

.divbot{
	
}


/* To adjust position the table on the center of the page */
.center {
  margin: auto;
  width: 50%;
  padding: 10px;
}

/* To adjust the position of the legends for faculty under the table */
.pos{
	position: fixed;
	left: 22%;
	bottom:9%;
	padding: 3px;
	/* border: 2px solid white; */
}

.NxtPg{
	padding-top:10px;
	/* width:873px; */
	position: relative;
	/* background-color:white; */
	left: 25%;
	/* display:; */
}

.nxtPgstyle{
	padding-top:3px; padding-bottom:3px;
}

.nav a{
	text-decoration: none;
}

/* normal link color */
.nav a:link {
  color: black;
}

/* color change to orange when mouse hover over */
.nav a:hover {
  color: orange;
}

/* color change to blue when it is clicked */
.nav a:active {
  color: blue;
}